$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;

$darkGrey: #2e2e2e;

$copperPlate: Copperplate,Copperplate Gothic Light,fantasy;

$rockwell: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;

$pacifico: Pacifico, cursive;

$footerColor: #0d3349;

$white: #ffffff;

$highlightedNav: #00939C;
$headerHeight: 50px;