<div xmlns="http://www.w3.org/1999/html">
    <div class="divCenter imageText" style="font-size: 35px; padding-top: 20px; color: #004876"> The Top Five's of All Time </div>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 text-center the-grid" style="padding: 20px">
        <li>
            <div id="language" class="imageText" style="font-size: 15px; padding: 25px">


                <p style="font-size: 25px"> Top Five Actors are: </p>
                <div style="color: #004876">
                    <span ng-bind="actors[0]"></span> : <span ng-bind="accCount[actors[0]]"></span> Titles <br>
                    <span ng-bind="actors[1]"></span> : <span ng-bind="accCount[actors[2]]"></span> Titles <br>
                    <span ng-bind="actors[2]"></span> : <span ng-bind="accCount[actors[3]]"></span> Titles <br>
                    <span ng-bind="actors[3]"></span> : <span ng-bind="accCount[actors[4]]"></span> Titles <br>
                    <span ng-bind="actors[4]"></span> : <span ng-bind="accCount[actors[5]]"></span> Titles <br>
                </div>
            </div>
        </li>
        <li>
            <div id="language" class="imageText" style="font-size: 15px; padding: 25px">
                <p style="font-size: 25px"> Top Five Directors are: </p>
                <div style="color: #004876">
                    <span ng-bind="directors[0]"></span> : <span ng-bind="dirCount[directors[0]]"></span> Titles <br>
                    <span ng-bind="directors[1]"></span> : <span ng-bind="dirCount[directors[1]]"></span> Titles <br>
                    <span ng-bind="directors[2]"></span> : <span ng-bind="dirCount[directors[2]]"></span> Titles <br>
                    <span ng-bind="directors[3]"></span> : <span ng-bind="dirCount[directors[3]]"></span> Titles <br>
                    <span ng-bind="directors[4]"></span> : <span ng-bind="dirCount[directors[4]]"></span> Titles <br>
                </div>
            </div>
        </li>
        <li>
            <div id="language" class="imageText" style="font-size: 15px; padding: 25px">
                <p style="font-size: 25px"> Top Five Languages are: </p>
                <div style="color: #004876">
                    <span ng-bind="languages[0]"></span> : <span ng-bind="lanCount[languages[0]]"></span> Titles <br>
                    <span ng-bind="languages[1]"></span> : <span ng-bind="lanCount[languages[1]]"></span> Titles <br>
                    <span ng-bind="languages[2]"></span> : <span ng-bind="lanCount[languages[2]]"></span> Titles <br>
                    <span ng-bind="languages[3]"></span> : <span ng-bind="lanCount[languages[3]]"></span> Titles <br>
                    <span ng-bind="languages[4]"></span> : <span ng-bind="lanCount[languages[4]]"></span> Titles <br>
                </div>
            </div>
        </li>
        <li>
            <div id="language" class="imageText" style="font-size: 15px; padding: 25px">
                <p style="font-size: 25px"> Top Five Genres are: </p>
                <div style="color: #004876">
                    <span ng-bind="genres[0]"></span> : <span ng-bind="genCount[genres[0]]"></span> Titles <br>
                    <span ng-bind="genres[1]"></span> : <span ng-bind="genCount[genres[1]]"></span> Titles <br>
                    <span ng-bind="genres[2]"></span> : <span ng-bind="genCount[genres[2]]"></span> Titles <br>
                    <span ng-bind="genres[3]"></span> : <span ng-bind="genCount[genres[3]]"></span> Titles <br>
                    <span ng-bind="genres[4]"></span> : <span ng-bind="genCount[genres[4]]"></span> Titles <br>
                </div>
            </div>
        </li>
    </ul>
</div>