<br>
<br>
<div id="experience"  class="font-copperplate" style="padding: 30px">

    <div id="restful" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/rest.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> RESTful APIs </span> <br>
            <span> I have experience building RESTful APIs using basic
            nouns. I have implemented APIs for various applications like a IMDB databse,
            an events managing website and a photo sharing website</span> <br>
        </div>
    </div>
    <br>

    <div id="mean" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/mean.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> MEAN Stack </span> <br>
            <span> I have worked on the entire MEAN stack components. Making
            projects what use the entire stack. </span> <br>
        </div>
    </div>
    <br>


    <div id="nodeJS" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/nodejs.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> NodeJS </span> <br>
            <span> Proficient in Node JS and familar with a number of NodeJS packages</span> <br>
        </div>
    </div>
    <br>

    <div id="AngularJS" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/angular.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> AngularJS </span> <br>
            <span> Front-end Templating using Angular JS</span> <br>
        </div>
    </div>
    <br>

    <div id="mongo" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/mongo.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> MongoDB </span> <br>
            <span> Worked on local as well online servers for MongoDB </span> <br>
        </div>
    </div>
    <br>

    <div id="express" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/express.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> Express </span> <br>
            <span> I have made website and apps that use express routing on top
            on NodeJS. I am familiar with a lot of express packages</span> <br>
        </div>
    </div>
    <br>

    <div id="c" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/c.png" style="width: 30%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> C </span> <br>
            <span> I have a lot of experience in system's level programming and networking in C.
            I have implemented distributed Key-Value stores, implemented TCP/UDP like protocols and wrote servers in C. </span> <br>
        </div>
    </div>
    <br>

    <div id="cpp" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/cpp.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> C++ </span> <br>
            <span> Used C++ in a number of projects classes as well as in internship.
            I have implemented a number of Data Structures in C++ as well as written a testing
            framework in C++ during my internship at Qualcomm</span> <br>
        </div>
    </div>
    <br>

    <div id="Java" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/java.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> Java </span> <br>
            <span> I have implemented a lot AI and different algorithms in JAVA. Also
            implemented GUI using JavaFx and Swing</span> <br>
        </div>
    </div>
    <br>

    <div id="python" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/python.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> Python </span> <br>
            <span> I have used Python for numerical analysis, for implementing a simple
            airline query system and for GUI design as well</span> <br>
        </div>
    </div>
    <br>

    <div id="html" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/html.png" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> HTML/CSS/JS </span> <br>
            <span> Made a lot of websites using HTML, CSS and JS including my personal website</span> <br>
        </div>
    </div>
    <br>

    <div id="linux" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/linux.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> Linux/Unix </span> <br>
            <span> Very comfortable with Linux commands </span> <br>
        </div>
    </div>


    <div id="openGL" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/opengl.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> OpenGL </span> <br>
            <span> I have worked in Graphics using OpenGL. Nothing fancy but simple OpenGL
            projects like animation and terrain, airplane and a reflective teapot </span> <br>
        </div>
    </div>
    <br>

    <div id="scheme" class="row" >

        <div class="small-4  medium-4 medium-offset-2 large-4 large-offset-2 columns">

            <img src="./data/icons/scheme.jpg" style="width: 50%"></div>

        <div class="small-8 medium-6 large-6 columns" style="text-align: left">
            <span style="font-size: x-large; color: #003f54"> OpenGL </span> <br>
            <span> Functional Programming using Scheme </span> <br>
        </div>
    </div>
    <br>



</div>